@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --foreground-rgb: 19, 21, 21;
  --background-start-rgb: 255, 253, 255;
  --background-end-rgb: 0, 109, 119;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes animation-block {
  0% {
    opacity: 0;
    transform: translateY(-150px);
  }
  25% {
    opacity: 1;
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.animated-block {
  animation-name: animation-block;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes animation-in-right {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.in-right {
  animation-name: animation-in-right;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-play-state: paused;
  animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@keyframes animation-in-up {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.in-up {
  animation-name: animation-in-up;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-play-state: paused;
  animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@keyframes animation-in-up-right {
  0% {
    opacity: 0;
    transform: translate(-50px, 50px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

.in-up-right {
  animation-name: animation-in-up-right;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-play-state: paused;
  animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.in-view .in-up,
.in-view .in-right,
.in-view .in-up-right {
  animation-play-state: running;
}

@import "src/app/buttonAnimations.scss";